<div class="row">
{{#each favorites.places as |place|}}
  <div class="col-sm-2">
    <h3>{{place.name}}</h3>
  </div>
  {{/each}}
</div>

<div class="row">
  {{#each favorites.places as |place|}}
    <div class="col-sm-2">
      <p>{{place.notes}}</p>
    </div>
  {{/each}}
</div>

<div class="row">
  {{#each favorites.places as |place|}}
    <div class="col-sm-2">
      <h4>Avg cost per person:{{place.price}}</h4>
    </div>
  {{/each}}
</div>
