<div class="col-sm-12">
  {{#each restaurant.reviews as |review|}}
  <hr>
  <h5>One user thought:</h5>
    <p class="star">{{star-rating review.rating}}</p>
    <p>{{review.comments}}</p>
  {{/each}}
</div>
