<hr>
<div class="col-sm-12">
  {{#each model.restaurants as |restaurant|}}
    {{admin-restaurant-tile restaurant=restaurant update="update"}}
  {{/each}}
</div>
<hr>
{{new-restaurant-form saveRestaurant="saveRestaurant"}}
